.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.body {
  background-color: rgb(0, 0, 0);
}
/* Handles styling for the Nav Bar */
/* Handles styling for the Nav Bar */
/* Handles styling for the Nav Bar */

nav {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100vw;
  justify-content: center;
  background-color: #a8d4b9;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  font-family: "Abel", sans-serif;
  font-size: 15pt;
}
.nav-items {
  list-style: none;
  width: 75px;
}
.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
}
.nav-link:hover {
  color: #000000;
  border: solid #69b1ec 1px;
  border-radius: 4px;
}
.active-link {
  color: #000000;
  border: solid #69b1ec 1px;
  border-radius: 4px;
}

/* Handles styling for the Home Page */
/* Handles styling for the Home Page */
/* Handles styling for the Home Page */

.homeContainer {
  background-color: #69b1ec;
  height: 96vh;
}
.mainHeader {
  padding-top: 85px;
  font-family: "Abel", sans-serif;
  font-size: 48pt;
  color: #000000;
}
.cocktailGlass {
  padding-top: 7vh;
  height: 350px;
}
.randInfo {
  padding-top: 7vh;
  font-family: "Abel", sans-serif;
  color: #000000;
}

/* Handles styling for the Search Page */
/* Handles styling for the Search Page */
/* Handles styling for the Search Page */

.searchContainer {
  background-color: #69b1ec;
  height: 100vh;
}
.searchHeader {
  padding-top: 85px;
  color: #fb5161;
}
.searchInputContainer {
  padding-top: 85px;
}
.searchInput {
  background-color: rgba(0, 0, 0, 0.13);
  border: 2px solid black;
  border-radius: 5px;
  height: 36px;
  text-align: center;
  margin: 25px;
  width: 25vw;
  font-family: "Abel", sans-serif;
  font-size: 18pt;
}
.searchInput::placeholder {
  color: black;
  font-family: "Abel", sans-serif;
  font-size: 12pt;
}
.submitInput {
  background: linear-gradient(45deg, #ffae00 40%, transparent 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: ease-out 0.3s;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Abel", sans-serif;
  font-size: 18pt;
}
.submitInput:hover {
  color: black;
  cursor: pointer;
  background-position: left bottom;
  transition: ease-in 0.2s;
}
.tempInstruction {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 25vw;
  margin: auto;
  margin-top: 25px;
  justify-content: center;
  font-family: "Abel", sans-serif;
  font-size: 24pt;
}
.tempComment {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 25px;
  justify-content: center;
  font-family: "Abel", sans-serif;
  font-size: 24pt;
  padding-left: 15px;
  padding-right: 15px;
}
.cocktailGlass2 {
  margin-top: 115px;
  height: 400px;
  border-radius: 500px;
  box-shadow: 0 0 10px 15px #ffc444;
}
.resultsContainer {
  background-color: #69b1ec;
  display: flex;
  flex-wrap: wrap;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 25px;
  margin: auto;
}
.resultsCard {
  margin: 50px;
  border: 2px solid black;
  width: 500px;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
}
.searchImg {
  padding: 10px;
  width: 350px;
  height: 350px;
}
.searchDrinkName {
  color: #000000;
  font-family: "Abel", sans-serif;
  font-size: 18pt;
}
.instructionsBtn {
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  font-size: 16pt;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #ffae00 50%, transparent 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: ease-out 0.2s;
}
.instructionsBtn:hover {
  background-color: #ffae00;
  color: black;
  cursor: pointer;
  background-position: left bottom;
  transition: ease-in 0.2s;
}
.instructionsContainer {
  width: 100vw;
}
.instructionsPopup {
  position: fixed;
  width: 50vw;
  background-color: #5087b4;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.418);
  left: 50%;
  transform: translate(-50%, 0);
}
.searchDrinkName {
  width: 100%;
  margin-top: 25px;
  color: #000000;
  font-family: "Abel", sans-serif;
}
.searchIngredientsList {
  text-align: center;
  list-style: none;
  padding-right: 6%;
}
.searchInstructions {
  padding-top: 25px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
  width: 75%;
  margin: auto;
  font-family: "abel", sans-serif;
}
.searchFaveBtn {
  background: linear-gradient(45deg, #ffae00 40%, transparent 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: ease-out 0.3s;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  font-size: 12pt;
  margin-bottom: 25px;
}
.searchFaveBtn:hover {
  background-position: left bottom;
  transition: ease-in 0.2s;
  color: black;
  cursor: pointer;
}
.searchCloseBtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  font-size: 12pt;
  margin-bottom: 25px;
}
.searchCloseBtn:hover {
  background-color: #fecca8;
  color: black;
  cursor: pointer;
}

/* Handles styling for the Favorites Page */
/* Handles styling for the Favorites Page */
/* Handles styling for the Favorites Page */

.favoritesContainer {
  padding-top: 5vh;
  background-color: #69b1ec;
  height: 100vh;
}

/* Handles styling for the Random Page */
/* Handles styling for the Random Page */
/* Handles styling for the Random Page */

.randomContainer {
  padding-top: 5vh;
  background-color: #69b1ec;
  height: 100vh;
}
.randomHeader {
  padding-top: 7vh;
  font-family: "Abel", sans-serif;
  font-size: 32pt;
  color: rgb(0, 0, 0);
}
.randBtn {
  background: linear-gradient(45deg, #ffae00 40%, transparent 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: ease-out 0.3s;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  font-size: 16pt;
}
.randBtn:hover {
  background-position: left bottom;
  transition: ease-in 0.2s;
  color: black;
  cursor: pointer;
}
.randDrinkContainer {
  display: flex;
  margin: auto;
  margin-top: 5vh;
  width: 80vw;
  height: 60vh;
  border-radius: 5px;
  justify-content: space-around;
}
.randDrinkPhoto {
  display: flex;
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.randImg {
  width: 450px;
  height: 450px;
  border-radius: 5px;
  margin: auto;
}
.randDrinkInfo {
  color: rgb(0, 0, 0);
  margin: auto;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.randDrinkName {
  margin-top: 25px;
  color: #000000;
  font-family: "Abel", sans-serif;
}
.randInstructions {
  padding-top: 25px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
  width: 75%;
  margin: auto;
  font-family: "abel", sans-serif;
}
.randIngredientsList {
  text-align: center;
  list-style: none;
  padding-right: 6%;
}
.randFaveBtn {
  background: linear-gradient(45deg, #ffae00 40%, transparent 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: ease-out 0.3s;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  font-size: 12pt;
  margin-bottom: 25px;
}
.randFaveBtn:hover {
  background-position: left bottom;
  transition: ease-in 0.2s;
  color: black;
  cursor: pointer;
}

/* Handles styling for the Login */
/* Handles styling for the Login */
/* Handles styling for the Login */

.loginContainer {
  padding-top: 5vh;
  background-color: #69b1ec;
  height: 100vh;
}
